/node_modules
/public/hot
/public/js
/pbulic/css
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpstorm.meta.php
_ide*
/config/ide-helper.php
